.container {
    max-width: 1920px;
    margin: 0 auto;
}

.visuallyHidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

@media (min-width: 1024px) {
    .container {
        padding: var(--base-padding) 32px;
    }
}
