.text {
  margin: 0;
}

.textTitle {
  font-size: 25px;
  font-weight: 700;
}

.textHeading {
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
}

@media (min-width: 1024px) {
  .textTitle {
    font-size: 32px;
  }

  .textSubtitle {
    font-size: 16px;
  }
}
