.cart {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100%;
}

.cart__films {
    flex-grow: 1;
}

.cart__total {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
}
